@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --darker--color: #212A3E;
    --dark--color: #394867;
    --light--color: #9BA4B5;
    --lighter--color: #F1F6F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darker--color);
    
}

.counter {
    padding: 2rem;
    min-width: 12rem;
    text-align: center;
    border-radius: 8px;
    background-color: var(--dark--color);
}

.counter div {
    display: flex;
    align-items: center;
}

.count-button {
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    background-color: var(--darker--color);
}

.value {
    font-size: 8rem;
    color: var(--lighter--color);
    min-width: 12rem;
    text-align: center;
    padding: 0 1rem;
}

button {
    border: none;
    border-radius: 4px;
    color: var(--lighter--color);
    font-weight: 600;
    cursor: pointer;
    transition: opacity .3s;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .6;
}

.reset {
    width: 100%;
    font-weight: 600;
    padding: .8rem 0;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--lighter--color);
    background-color: #3F72AF;
}